body {
  font-family: "Roboto", sans-serif;
  color: #434455; /*SLATE*/
  background-color: #fff;
}
h1,
h2,
h3 {
  color: #2e2f42; /*NAVY BLUE*/
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

nav li a {
  color: #2e2f42;
}
.nav-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-text:hover,
.nav-text:focus,
.addres-text:hover,
.addres-text:focus {
  color: #404bbf;
}

.addres-section {
  font-style: normal;
}
.addres-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
header .logo-secondpart {
  color: #2e2f42;
}

.title-section {
  background-color: #2e2f42;
  text-align: center;
}
.title-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}
.title-button {
  background: #4d5ae5;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.04em;
}
.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
}
.goals-header {
  color: #fff;
}
.goals-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.goals-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*-------------------------------------3 SECTION----------------------------------*/
.team {
  background: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.team-item {
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*-------------------------------------4 SECTION----------------------------------*/
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*-------------------------------------FOOTER----------------------------------*/
.footer-section {
  background: #2e2f42;
}

footer .logo-secondpart {
  color: #f4f4fd;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
